
.database-interface-table {
    .ant-table-pagination.ant-pagination {
        margin-right: 120px;
        @media only screen and (max-width: $breakpoint-sm){
            flex-wrap: wrap;
            margin-right: auto;
            margin-bottom: 50px;
        }
        // >li {
        //     @media only screen and (max-width: 576px){
        //         margin-top: 10px;
        //     }
        // }
    }
    .ant-pagination-options {
        @media only screen and (max-width: $breakpoint-sm){
            display: block;
        }
    }

    &__hidden {
        .ant-table-pagination.ant-pagination {
            flex-wrap: wrap;
            margin-right: auto;
            margin-bottom: auto;
        }
    }

    .row__clickable {
        cursor: pointer;
    }

    &--detail {
        min-width: 200px!important;
        max-width: Min(900px, calc(100% - 64px))!important;
        padding-top: 24px;
        @media only screen and (max-width: $breakpoint-sm){
            max-width: Min(900px, calc(100% - 36px))!important;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
.database-interface-table-wrapper {
    position: relative;

    .pagination {
        position: absolute;
        width: 105px;
        right: 0;
        bottom: 0;
        margin: 16px 0;
        @media only screen and (max-width: $breakpoint-sm){
            left: auto;
            right: 0;
        }

        &__hidden {
            display: none;
        }

        &--select {
            float: right;
            width: 60px;
        }

        &--text {
            position: relative;
            font-size: 14px;
            
    line-height: 22px;
            top: 1px
        }
    }
}