$sider-width: clamp(160px, 25vw, 200px);

* {
    box-sizing: border-box;
}

body {
    // overflow-y: scroll;
    overflow-x: hidden;
}

#root {
    width: 100vw;
}

.layout {
    overflow-x: hidden;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100vw;
    @media screen and (min-width: $breakpoint-sm) {
        grid-template-columns: $sider-width auto;
    }
    grid-template-rows: max-content auto;

    &-hide-sider {
        grid-template-columns: 100vw;
        @media screen and (min-width: $breakpoint-sm) {
            grid-template-columns: 100%;
        }
    }

    .header {
        background-color: white;
        position: fixed;
        z-index: 100;
        width: 100vw;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        &-container {
            display: inline-block;
            align-self: stretch;
            // height: 100%;
            flex-shrink: 0;
            border-bottom: 1px solid #f0f0f0;
            display: flex;
            align-items: center;
            // flex-basis: 300px;
        }

        @mixin title {
            margin: 0 0 0 0.5rem;
            padding: 0;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1.5rem;
            // position: relative;
            // top: 5px;
        }

        .title-big {
            @include title;
            display: none;
            @media screen and (min-width: $breakpoint-sm){
                display: inline-block;
                // height: 48px;
                // width: 280px;
                // background-color: $color-primary;
                // -webkit-mask: url(../images/logo_full.svg) no-repeat center;
                // mask: url(../images/logo_full.svg) no-repeat center;
                // mask-size: 280px;

            }
            img {
                height: 48px;
                min-width: 280;
                padding: 5px;
                padding-top: 0px;
                position: relative;
                top: 10px;
            }
        }
        .title-small {
            @include title;
            display: inline-block;
            @media screen and (min-width: $breakpoint-sm){
                display: none;
            }
            
            img {
                height: 48px;
                padding: 8px 5px;      
                // padding-top: 8px;
                // background: $color-gray-light;
            }
        }

        button {
            margin-left: 0.5rem;
        };

        .navbar {
            //padding: 0 calc(50vw - 450px);
            flex-basis: 100%;
            flex-shrink: 1;
            @media screen and (min-width: $breakpoint-sm){
                padding-right: 15px;
            }

            li {
                float: right;
                // margin-right: 10px; 
                margin-left: 10px; 
                @media screen and (min-width: $breakpoint-sm){
                    // margin-right: 20px; 
                    margin-left: 20px; 
                }
            }

            h5 {
                display: "inline-block"
            }

            .logout-button {
                position: absolute;
                margin: 0;
                padding: 0;
                font-size: 0.7rem;
                bottom: -15px;
                left: 50%;
                transform: translateX(-50%);
                width: 70px;
                text-align: center;
                overflow:hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .header-grid {
        height: 72px;
        max-height: 72px;
        grid-column: 1;
        @media screen and (min-width: $breakpoint-sm) {
            grid-column: 1 / span 2;
        }
        //background-color: yellow;
    }

    .sider {
        background-color: white;
        position: relative;
        display: none;
        @media screen and (min-width: $breakpoint-sm) {
            display: block;
        }

        &-fixed {
            width: $sider-width;
            height: calc(100% - 48px);
            position: fixed;
            overflow-y: hidden;
            margin-right: -10px;
            // border-right: 1px solid #f0f0f0;
            &:hover {
                overflow-y: auto;
            }


        }

        &-content {
            background-color: rgb(198, 199, 137);
            position: relative;
            width: calc(100% - 30px);
        }

        &-scroll {
            background-color: lightgreen;
        }
    }

    .layout-inner {
        // max-width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto max-content;
    }

    .content {
        background-color: white;
        padding: 0 2rem;
        height: 100%;
        // width: 100%;
        position: relative;
    }

    .footer {
        border-top: 1px solid #f0f0f0;
        background-color: white;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.drawer {
    
    &-button {
        display: inline-block;
        //justify-self: flex-start;
        @media screen and (min-width: $breakpoint-sm) {
            display: none;
        }
    }

    .ant-drawer-body {
        //background-color: red;
        padding: 0;
        overflow-y: hidden;
        &:hover {
            overflow-y: auto;
        }
    }
}

.sidemenu-loading {
    border-right: 1px solid #f0f0f0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

$sidemenu-user-card-height: 100px;

.sidemenu-container {
    width: 100%;
    height: 100%;
    // height: calc(100% - #{$sidemenu-user-card-height});
    // height: calc(100% - 100px);

}

// .sidemenu-user-card {
//     &-container {
//         display: flex;
//         flex-direction: column;
//         align-items: flex-start;
//         justify-content: center;
//         // background-color: khaki;
//         height: $sidemenu-user-card-height;
//     }
//     &-circle {
//         border-radius: 50%;
//         position: relative;
//         left: 50%;
//         transform: translateX(-50%);
//         background-color: khaki;
//     }
// }

.menu-divider {

    &:before {
        flex-shrink: 0;
        flex-basis: 30px;
    }
}